.login-page {
    min-width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

.form {
  text-align: left;
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(10, 10, 10, 1), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type="text"], .form input[type="email"], .form input[type="password"] {
  outline: 0;
  background: #f0f0f9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type='radio'] {
  background: #f0f0f9;
  width: 12%;
  font-size: 14px;
}

.form .rd{
  display: block;
  text-align: left;
  margin-left : 10px;
}

.form .ck{
  display: block;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 5px;
}

.form button {
  background: #000070;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 1pc;
  margin-top: 10px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form p{
  color:#000090;
  text-align:start;
  margin-bottom: 2px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #000090;
}

.form .message {
  margin: 15px 0 0;
  color: #000019;
  font-size: 12px;
}

.form .message a {
  color: #0000ff;
  text-decoration: none;
}

.form select{
 width: 200px;
}
.login-page h1{
    color: #0000ff;
}

.propic {
  position: relative;
}

.propic input {
  visibility: hidden;
  width: 100px;
  margin: 5px 0;
}

.propic:before {
  content: 'Upload Image';
  color: #f0f0f9;
  background-color: #000090;
  border-radius: 10px;
  padding: 5px 0px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 0;
}